<h4>Policy Defined</h4>
<md-radio-group>
    <md-radio-button value="0">No Policy</md-radio-button>
    <md-radio-button value="25">Informal Policy</md-radio-button>
    <md-radio-button value="50">Partial Written Policy</md-radio-button>
    <md-radio-button value="75">Written Policy</md-radio-button>
    <md-radio-button value="100">Approved Written Policy</md-radio-button>
</md-radio-group>
<div>
    <md-slider tickInterval=20></md-slider>
</div>
<br>
<br>
<br>
<h4>Control Implemented</h4>
<md-radio-group>
    <md-radio-button value="0">Not Implemented</md-radio-button>
    <md-radio-button value="Parts">Parts of Policy Implemented</md-radio-button>
    <md-radio-button value="Some">Implemented on Some Systems</md-radio-button>
    <md-radio-button value="Most">Implemented on Most System</md-radio-button>
    <md-radio-button value="Alls">Implemented on All Systems</md-radio-button>
</md-radio-group>
<br>
<br>
<br>
<h4>Control Automated of Technically Enforced</h4>
<md-radio-group>
    <md-radio-button value="None">Not Automated</md-radio-button>
    <md-radio-button value="Some">Implemented on Some Automated</md-radio-button>
    <md-radio-button value="Most">Implemented on Most Automated</md-radio-button>
    <md-radio-button value="All">Implemented on All Automated</md-radio-button>
</md-radio-group>
<br>
<br>
<br>
<h4>Control Automated of Technically Enforced</h4>
<md-radio-group>
    <md-radio-button value="None">Not Reported</md-radio-button>
    <md-radio-button value="Some">Reported on Some Systems</md-radio-button>
    <md-radio-button value="Most">Reported on Most Systems</md-radio-button>
    <md-radio-button value="All">Reported on All Systems</md-radio-button>
</md-radio-group>
<br>
<br>
<br>
<h4>Comments</h4>
<md-input-container>
    <input md-input placeholder="Comments(250 max)" maxlength="250">
</md-input-container>
<br>
<button md-raised-button color="primary" (click)="goBack()">Go Back</button>







<!--
<div>
    <md-button-toggle-group>
        <md-button-toggle value="no" disabled>No Policy</md-button-toggle>
        <md-button-toggle value="informal" disabled>Informal Policy</md-button-toggle>
        <md-button-toggle value="partial" disabled>Partial Written Policy</md-button-toggle>
        <md-button-toggle value="written" disabled>Written Policy</md-button-toggle>
        <md-button-toggle value="approved" disabled>Approved Written Policy</md-button-toggle>
    </md-button-toggle-group>
</div>-->